.home-page
  width: 100%

.home-background
  position: relative
  width: 100%
  overflow: hidden
  aspect-ratio: 1440 / 823
  background-image: url('/images/home/background.png')
  background-size: cover
  background-position: center
  background-repeat: no-repeat
//   --eye-x: 0px
//   --eye-y: 0px

.home-layer
  position: absolute
  display: block
  height: auto

.layer-character-white
  height: 100%
  left: 0
  top: 0

.layer-character-main
  height: 100%
  left: 0
  top: 0

.layer-character-left-eye-container
  width: calc(40.2 / 1440 * 100%)
  height: auto
  left: calc(582.04 / 1440 * 100%)
  top: calc(307.82 / 823 * 100%)
  aspect-ratio: 40.2 / 32.76
  // 動畫
  transform: translate(var(--eye-x), var(--eye-y))
  transition: linear
  will-change: transform

.layer-character-right-eye-container
  width: calc(40.2 / 1440 * 100%)
  height: auto
  left: calc(729 / 1440 * 100%)
  top: calc(302 / 823 * 100%)
  aspect-ratio: 33.76 / 25.05
  // 動畫
  transform: translate(var(--eye-x), var(--eye-y))
  transition: linear
  will-change: transform

.layer-logo
  width: calc(540 / 1440 * 100%)
  height: auto
  left: calc(817 / 1440 * 100%)
  top: calc(350 / 823 * 100%)
  aspect-ratio: 540 / 323
  // 動畫
  transform-origin: center center
  animation: logo-pulse 1.5s ease-in-out infinite
  will-change: transform

/* 動畫：logo-pulse，1.5 秒一個完整週期：原始 -> 放大 -> 原始 */
@keyframes logo-pulse
  0%
    transform: scale(1)
  50%
    transform: scale(1.1)
  100%
    transform: scale(1)