@use './home.sass';

*
  box-sizing: border-box

html, body, #root
  width: 100%
  min-height: 100%

html, body
  margin: 0
  padding: 0

body
  font-family: 'Noto Sans TC', 'Microsoft JhengHei', Arial, sans-serif
  line-height: 1.5
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  background-color: #fff
  color: #111

img
  max-width: 100%
  display: block
